

/* colores */
@import "materialize/components/color";
$primary-color: #202020 !default;
$secondary-color: #AEB0B0 !default;
@import "materialize";

/* footer adhesivo - sticky footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #EAEAEA;
  }

  main {
    flex: 1 0 auto;
  }
